.cthulhu-hud-window {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid #444;
  border-radius: 8px;
}

/* zawartość HUDa */
.cthulhu-hud-content {
  padding: 8px;
}

/* linie statystyk */
.cthulhu-hud-window .hud-stat {
  font-size: 14px;
  margin: 2px 0;
}
